@import "includes/base";
@import "includes/bs-grid/grid";
@import "includes/variables";
@import "includes/fonts";

.header {
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.05)!important;
  .navbar {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
  }
}

.content {
  position: relative;
}

.home-content {
  margin-top: 20px;
}

.skeleton {
  opacity: 0.6;
  .skeleton-title,
  .skeleton-sub-title {
    width: 100%;
    background: #f2f2f2;
  }
  .skeleton-title {
    height: 28px;
  }
  .skeleton-sub-title {
    height: 25px;
  }
  .skeleton-paragraph {
    margin-top: 28px;
    padding: 0;
    list-style: none;
    li {
      width: 100%;
      height: 16px;
      list-style: none;
      background: #f2f2f2;
    }
    &>li+li {
      margin-top: 16px;
    }
  }
  .skeleton-gallery {
    .skeleton-main-image {
      margin-bottom: 10px;
      text-align: center;
      .skeleton-image {
        background: #f2f2f2;
        width: 440px;
        height: 330px;
        margin: 0 auto;
      }
    }
    .skeleton-thumbs {
      display: flex;
      .skeleton-image {
        background: #f2f2f2;
        width: 140px;
        height: 105px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.loader {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  h3 {
    font-weight: normal;
    margin-top: 15px;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #006aff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.full-size {
  width: 100%;
}

.main {
  padding: 20px 0;
}
.full-height {
  height: 100%;
}
.card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  &.full-height {
    height: calc(100% - 20px);
  }
  .card-header {
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    text-transform: uppercase;
    border-color: #eaeaea;
    min-height: 63px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    h1 {
      font-size: 24px;
    }
    h1, h2, h3, h4 {
      margin-bottom: 0;
    }
    .badge {
      margin-left: 10px;
    }
  }
  .card-body {
    flex: 1 1 auto;
    padding: 30px 20px;
    .title {
      span {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  .card-title {
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .form-control {
    font-size: 14px;
  }
  .btn {
    font-size: 17px;
    outline: none;
    min-width: 50px;
  }
}

.green {
  color: #5c921e;
}

.grey {
  color: #9c9d9f;
}

.gallery-responsive {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 15px 0 0;
  .slide {
    flex-basis: 50%;
    padding: 10px 25px 20px 0;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.swiper-container {
  width: 100%;
  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: #006aff;
    opacity: 0.5;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    &:after {
      opacity: 1;
    }
  }
  &.gallery-top {
    margin-bottom: 10px;
    .swiper-slide {
      text-align: center;
    }
  }
  &.gallery-thumbs {
    .swiper-slide {
      cursor: pointer;
      opacity: 0.5;
      &.swiper-slide-thumb-active {
        opacity: 1;
        &:after {
          content: "";
          display: block;
          background: #006aff;
          height: 3px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

.table {
  width: 100%;
  border: 1px solid #eaeaea;
  border-collapse: collapse;
  thead {
    th {
      vertical-align: bottom;
      border-bottom: 1px solid #eaeaea;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 23px;
      padding: 20px 30px 10px;
      color: #8a8b8d;
    }
  }
  td {
    vertical-align: top;
    color: #1e1f24;
    padding: 5px 30px;
    border: 0;
  }
  &.table-history {
    tr {
      &:nth-child(even) {
        background: #f5f5f5;
      }
    }
    td {
      vertical-align: middle;
      img {
        vertical-align: middle;
        margin-right: 5px;
      }
      &[colspan="6"] {
        width: 100%;
        padding: 20px 10px;
        text-align: center;
        color: #8a8b8d;
      }
    }
  }
}

.fees {
  margin: 30px 0;
}

dl.details-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  dt {
    float: left;
    width: 50%;
    padding: 0 5px 0 0;
    color: #8a8b8d;
  }
  dd {
    display: flex;
    align-items: center;
    color: #1e1f24;
    margin: 0 0 10px;
    font-weight: 600;
    overflow: hidden;
    img {
      margin-right: 5px;
    }
  }
}

.badge {
  padding: 3px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #1e1f24;
  height: 24px;
  line-height: 18px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  &.badge-success {
    color: #212529;
    background-color: #cee8b0;
  }
  &.badge-warning {
    color: #212529;
    background-color: #feeebf;
  }
}

nav {
  display: block;
}

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0 0 17px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  .breadcrumb-item {
    font-size: 12px;
    & + .breadcrumb-item {
      padding-left: 5px;
      &:before {
        display: inline-block;
        padding-right: .5rem;
        color: #eaeaea;
        content: "/";
      }
    }
    &.active, & > a {
      color: #8a8b8d;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 10px 15px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #1e1f24;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eee;
  border-radius: 3px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  border-radius: 3px;
  line-height: 40px;
  min-width: 88px;
  border: 1px solid;
  padding: 0 10px;
  cursor: pointer;
}

.btn-primary {
  background: #006aff;
  border: none;
  color: #fff;
  &:hover {
    background: #0056ce!important;
    color: #fff;
  }
}

.hidden-block-sm,
.hidden-block-table {
  background-image: linear-gradient(45deg,#eaeaea 12.5%,#fff 0,#fff 50%,#eaeaea 0,#eaeaea 62.5%,#fff 0,#fff);
  background-size: 5.66px 5.66px;
}
.hidden-block-sm {
  padding: 4px 7px;
  display: inline-block;
}
.hidden-block {
  text-align: center;
  color: #8a8b8d;
  .status {
    text-transform: uppercase;
    font-size: 12px;
    .icon-lock {
      margin-right: 4px;
    }
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  & > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-group-append {
    display: flex;
    margin-left: -1px;
    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.form-control:focus {
  outline: none;
  border: 1px solid #006aff;
}

.footer {
  background-color: #1e1f24;
  color: #8a8b8d;
  font-size: 12px;
  padding: 20px 0;
  ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
  }
  .footer-list {
    font-size: 14px;
  }
  .footer-bottom {
    margin-top: 15px;
    .footer-nav {
      display: flex;
      justify-content: flex-end;
      li {
        padding: 0 0 0 20px;
        a {
          color: #8a8b8d;
          text-decoration: none;
        }
      }
    }
  }
}


@import "includes/responsive";