doctype html
html
    head
        title Avtoastat
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        block head_end
        link(rel="stylesheet" href="/css/style.css")
    body
        include header
        .main
            .container-fluid
                block content
        block body_end
        include footer
