footer.footer
  .container-fluid
    .row.footer-top
      .col-md-8.col-sm-12
        span.footer-text Всего лотов:
          strong  13,000,000 +
    .row.footer-bottom
      .col-md-6.col-sm-12
        span.footer-text © 2020 autoAstat. Все права защищены
      .col-md-6.col-sm-12
        ul.footer-nav
          li
            a(href='/terms.html') Условия использования
          li
            a(href='/privacy.html') Политика конфиденциальности
          li
            a(href='/agreement.html') Публичный договор
