header.header
  .container-fluid
    nav.navbar.navbar-expand-lg
      a.navbar-brand(href='/')
        img(src='./img/logo.png' width="137" alt='')
      ul.navbar-nav.ml-md-auto
        li.nav-item
          a.nav-link(href='/carfax-besplatno.html') Carfax бесплатно
        li.nav-item
          a.nav-link(href='/vin-kod.html') Что такое VIN код?
        li.nav-item
          a.nav-link(href='/istoriya-avtomobilya.html') История автомобилей
        li.nav-item
          a.nav-link(href='/proverka-vin-autocheck.html') Проверка ВИН
