extends _layouts/base

block head_end

block content
	h1 Публичный договор (публичная оферта)
	p
		| Эта оферта направлена на неограниченный круг лиц и является публичным предложением заключить Публичный договор оказания услуг, размещен в сети Интернет по адресу
		a(href='https://autoastat.ru.com')  autoastat.ru.com
		|  (далее - Публичная оферта или Договор) на указанных ниже условиях:
	p Осуществлением Акцепта, Заказчик подтверждает:
	ul
		li
			| что все его действия направлены на реальное наступление правовых последствий, которые обусловлены Договором;
		li что Заказчик не ограничен в праве совершать сделки;
		li
			| что Заказчик не признан в установленном порядке недееспособным (полностью или частично), не пребывает в болезненном состоянии, не страдает в момент заключения настоящего Договора заболеваниями, не находится под влиянием лекарственных и других препаратов, препятствующих осознанию сути Договора и/или своих действий или бездействий.
	ol.recursive
		li
			| ТЕРМИНЫ, ИСПОЛЬЗОВАННЫЕ В ДОГОВОРЕ
			ol
				li
					| Акцепт – полное и безусловное принятие оферты Заказчиком путем совершения действий, направленных на подтверждение Публичной оферты с применением технических возможностей Сайта.
				li
					| Заказчик – лицо, совершившее Акцепт условий данного Договора и становится Заказчиком услуг Исполнителя по заключенному Договору. Заказчиком может быть любое дееспособное физическое лицо, достигшее 18 лет, имеющее намерение получить Услуги Исполнителя в порядке и на условиях, определенных данным Договором.
				li Исполнитель (Организатор) – поставщик услуг Сайта.
				li
					| Администрация Сайта – лицо или группа лиц, которая (ые) обладает (-ные) полномочиями на осуществление управления Сайтом, его модерированием, размещением контента Сайта и взаимодействие с Пользователями, а также осуществление других действий, связанных с использованием Сайта. Администрация Сайта действует от имени Владельца Сайта.
				li
					| Сайт – совокупность данных, электронной (цифровой) информации, других объектов авторского права и (или) смежных прав и т.п., связанных между собой и структурированных в пределах адреса
					=" "
					a(href='//autoastat.ru.com') https://autoastat.ru.com
				li
					| Оферта – настоящее предложение от Исполнителя заключить Публичный договор оказания Услуг, которое размещено на Сайте, направленное на неопределенный круг лиц.
				li
					| Пользователь – физическое или юридическое лицо, использующее Cайт с информационной целью на безоплатной или платной основе.
				li
					| Регистрация в личном кабинете – добровольно осуществлена Пользователем на Сайте процедура, которая заключается в выполнении совокупности действий Пользователем (согласно специальной форме), включая предоставление персональных данных, с целью создания Личного кабинета и доступа к сервисам Сайта.
				li
					| Личный кабинет – закрытая часть Сайта, доступная Пользователю после прохождения регистрации, предназначенная для управления и настройки сервисами Autoastat, для хранения и редактирования данных Пользователя. Личный кабинет содержит сведения, которые Пользователь сообщил о себе при регистрации на Сайте и позволяет Autoastat идентифицировать Пользователя с помощью индивидуального логина и пароля.
				li
					| Логин – уникальное имя (идентификатор) Пользователя на Сайте, используется для входа Пользователя в Личный кабинет и совершение им каких-либо действий с использованием функционала Сайта, включая заключение и выполнение соглашений, но не ограничиваясь таким.
				li
					| Пароль – это секретный набор символов, который требуется для входа в Личный кабинет Пользователя, известен только самому Пользователю.
				li
					| Отчет – детальная информация о транспортных средствах, которые были доступны на аукционных порталах, в случае, если транспортное средство выставлялось на торги.
				li
					| Лот – транспортное средство, в отношении которого осуществлялись торги участниками аукциона (наименование, количественные и качественные характеристики, стоимость и т.д.).
		li
			| ОСНОВНЫЕ ПОЛОЖЕНИЯ
			ol
				li
					| Договор заключается между Исполнителем и Заказчиком услуг в форме договора присоединения.
				li
					| Данный Договор является публичным договором, который считается заключенным между Исполнителем, с одной стороны, Заказчиком, с другой, с момента Акцепта последним всех без исключения условий и положений данного Договора.
				li
					| В порядке и на условиях, определенных данным Договором, Исполнитель обязуется предоставить Заказчику Услуги, а Заказчик обязуется принять и оплатить оказанные Услуги, в случае предоставления Услуг на платной основе.
				li
					| Действиями, свидетельствующими о согласии соблюдать условия этого Договора является Акцепт Заказчиком условий данного Договора.
				li
					| Заказчик осуществляет Акцепт Договора после ознакомления с его условиями, размещенными на Сайте путем совокупного или отдельного выполнения любого из следующих действий:
					ol
						li
							| Проставления соответствующей отметки «ознакомился (-ась) с условиями данного Договора и принимаю его условия».
						li
							| Оплаты Заказчиком Услуги в полном объеме, в случае, если она предоставляется на платной основе.
		li
			| ПРЕДМЕТ ДОГОВОРА
			ol
				li
					| Исполнитель предоставляет Заказчику информационно-исторические и статистические данные о продаже автомобилей и других транспортных средств на ведущих аукционных порталах.
				li
					| Пользователь сайта имеет возможность осуществить поиск данных по конкретному лоту или по VIN номеру, а также осуществить поиск по выбранным параметрам транспортного средства (тип, модель, производитель, год выпуска, аукцион, дата аукциона, местонахождение аукциона).
				li
					| Услуги, по условиям данного Договора, представляют собой предоставление информационных услуг, а именно предоставление доступа к Сайту и использование его функциональных возможностей для личного некоммерческого использования и не могут трактоваться как предоставление консультаций и единственный источник информации при покупке подержанного транспортного средства (далее - Услуга).
				li
					| Информация на Сайте предоставляется по принципу - «как есть». Исполнитель не гарантирует, что Услуги будут соответствовать целям и ожиданиям Пользователей или любых других лиц.
				li
					| Информация, опубликованная на Сайте, состоит из информации, размещенной на аукционных порталах и других открытых ресурсах и может включать технические, типографские или фотографические ошибки. Исполнитель не предоставляет никаких гарантий того, что любые публикации являются точными, полными или актуальными.
				li
					| Исполнитель может обновлять материалы, находящиеся на Сайте в любое время без предупреждения и не несет ответственности за обновление ресурсов.
		li
			| СТОИМОСТЬ УСЛУГ И ТАРИФЫ
			ol
				li
					| Стоимость Услуг зависит от объема и характера Услуги, которая предоставляется, и указывается непосредственно после избрания конкретной Услуги.
				li
					| Исполнитель вправе в одностороннем порядке изменить стоимость Услуг до момента их оплаты.
				li
					| Оплата Услуг Заказчиком подтверждает ознакомление и полное согласие с условиями данного Договора.
				li
					| Оплата Услуг осуществляется путем безналичного расчета на счет Исполнителя, реквизиты, которого предоставляются ему после выбора Услуги.
				li
					| Услуга считается оплаченной с момента зачисления средств на текущий счет Исполнителя.
		li
			| ПОРЯДОК ПРЕДОСТАВЛЕНИЯ УСЛУГ
			ol
				li
					| Для эффективного и полноценного использования Сайта, Пользователю необходимо осуществить регистрацию, корректно и в полном объеме заполнив все необходимые поля регистрационной формы, введя следующие данные: имя, фамилия, электронная почта и номер телефона Пользователя.
					ol
						li
							| При регистрации Пользователь обязан предоставить достоверную и актуальную информацию, включая уникальные для каждого Пользователя логин, адрес электронной почты, пароль доступа к Личному кабинету. Исполнитель оставляет за собой право изменять поля регистрационной формы и требовать от Пользователя ввода дополнительной информации.
						li
							| Пользователь соглашается и обязуется предоставлять настоящую, точную и полную информацию для своего Личного кабинета и сохранять ее правдивость, точность и полноту.
						li
							| Осуществив регистрацию на Сайте, Пользователь имеет доступ в Личный кабинет, с помощью введенного логина и пароля, который позволяет ему упорядочить результаты поиска (закладки, история поиска, приобретенные Отчеты).
						li
							| После регистрации, выбранные Пользователем логин и пароль являются достаточной информацией для доступа Пользователя к Сервису. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем.
				li
					| Порядок предоставления Исполнителем бесплатных услуг:
					ol
						li
							| Пользователь без осуществления платежей по выбранным параметрам получает ограниченный доступ к полной информации, размещенной на веб-сайте: фотоснимки транспортного средства, ограниченная информация относительно транспортного средства, транспортные происшествия, информация о последнем проведенном аукционе.
				li
					| Порядок предоставления Исполнителем услуг на платной основе.
					ol
						li
							| Заказчик на платной основе получает доступ к полной информации, размещенной на веб-сайте, в частности, но не исключительно: финальная цена транспортного средства, данные по VIN номеру, данные касательно продавца, пробег транспортного средства, историю продаж транспортного средства, доступ к качественным фотоснимкам с аукционов.
						li
							| Заказчик на платной основе может получить Отчет с информацией по Лоту. Отчеты предоставляют информацию о транспортных средствах из открытых интернет-ресурсов, аукционных порталов и могут содержать фото транспортного средства, а также подробную информацию о транспортных средствах, которые были доступны аудитории на аукционных порталах, в случае, если транспортное средство выставлялось на торги.
						li
							| Отчет в частности, но не исключительно, включает информацию о характеристике транспортного средства, информацию об известных повреждениях, историю продажи транспортного средства на аукционах, фотоснимки и др.
						li
							| Заказчик может осуществлять оплату как за Отчет по одному Лоту так и за определенное выбранное количество Отчетов.
						li
							| Осуществляя оплату Отчета, Заказчик получает информацию по Лоту, которая была на Autoastat по данному VIN номеру на момент приобретения Отчета. Если после покупки Отчета, появится новая, дополнительная информация по Лоту, информация не будет частью приобретенного Отчета и требует дополнительной оплаты.
						li
							| Исполнитель не гарантирует, что Отчеты будут доступны для любого транспортного средства, а также, что информация из Отчета является точной, исчерпывающей, проверенной и полной.
						li
							| Исполнитель не несет ответственность за точность или полноту информации, предоставленной в Отчете. Исполнитель не предоставляет гарантии, что транспортное средство не выставлялось на торги на авто аукционе, если соответствующая запись отсутствует в Отчете.
						li
							| Заказчик получает доступ к приобретенному Отчету в Личном кабинете, а также дополнительно электронное письмо с персональной ссылкой на Отчет направляется на указанную электронную почту Заказчика.
						li
							| Заказчик, осуществляя оплату Услуг, а именно: доступ к сервису на определенный период времени, получает актуальную информацию по Лотам течении всего оплаченного периода.
		li
			| ПРАВА И ОБЯЗАННОСТИ СТОРОН
			ol
				li
					| Права и обязанности Заказчика
					ol
						li Заказчик имеет право получить Услуги на условиях данного Договора.
						li
							| Заказчик вправе получить от Исполнителя информацию об Услугах, которые предоставляются и условиях их предоставления.
						li
							| Заказчик вправе осуществлять вход в Личный кабинет под своим аккаунтом одновременно только с одной точки доступа (персональный компьютер, ноутбук, нетбук, планшет и т.д.).
						li
							| Заказчик обязан предоставлять Исполнителю полную и достоверную информацию о своих данных. В случае изменения данных, Заказчик обязан обновлять актуальную информацию в Личном кабинете, принимая на себя риски последствий несвоевременного совершения таких действий.
						li
							| Заказчик обязан обеспечить безопасность и конфиденциальность информации, указанной и используемой в Личном кабинете. Заказчик самостоятельно обеспечивает сохранность своего персонального логина и пароля. Заказчик несет полную ответственность за любые действия, осуществляемые через его Личный кабинет, и соглашается немедленно сообщать Администрации Сайта о любом случае несанкционированного использования Личного кабинета, о любом нарушении установленных норм безопасности, а также нарушение условий настоящего Договора.
						li
							| Заказчик обязан не воспроизводить, не повторять, не копировать, не продавать, а также не использовать в каких бы то ни было целях, информацию и материалы, которые стали ему доступны в связи с предоставлением Услуг, за исключением их личного использования.
						li
							| Заказчик обязуется не размещать и не загружать содержимое или элементы в несоответствующие категории и сервисы на Сайте.
						li
							| Заказчику запрещается распространять или публиковать спам, нежелательные или массовые электронные сообщения, распространять вирусы, или совершать любые другие действия, которые могут нанести вред Autoastat.
						li
							| Заказчик обязуется и подтверждает, что пользуясь Услугами, он в любом случае, не способствует мошенничеству, обману или злоупотреблению доверием; не осуществляет сделки с крадеными или поддельными предметами и / или предметами, свободный оборот которых ограничен и / или запрещен в соответствии с действующим законодательством; не затрагивает право собственности Исполнителя или третьих лиц, включая интеллектуальное; не публикует сведения, оскорбляющие чью-то честь, достоинство или деловую репутацию; не осуществляет клевету, не угрожает; не призывает к совершению преступления, а также не разжигает национальную и межнациональную вражду; не способствует террористической и экстремистской деятельности.
						li
							| Заказчик вправе требовать от Исполнителя предоставить Услуги в соответствии с условиями этого Договора.
						li
							| Заказчик имеет другие права, предусмотренные законодательством Украины и международным законодательством.
				li
					| Права и обязанности Исполнителя:
					ol
						li
							| Исполнитель обязан организовать и предоставить Заказчику надлежащее предоставление Услуг, согласно данному Договору.
						li
							| Исполнитель обязан обеспечивать хранение и обработку персональных данных Заказчика, предоставлять конфиденциальность этих данных в процессе их обработки и использовать их исключительно для качественного предоставления Услуг.
						li
							| Исполнитель обязан предоставлять Заказчику информацию о предоставлении Услуг по его требованию.
						li
							| Исполнитель имеет право получать от Заказчика информацию, необходимую для выполнения своих обязательств по Договору.
						li
							| В случае отсутствия определенного Лота на Сайте, Исполнитель имеет право по запросу Пользователя, разместить его на Сайте, после подтверждения Пользователем подлинности Лота и данных, подтверждающих его покупку предоставленных на адрес
							=" "
							a(href='mailto:info@autoastat.ru.com') info@autoastat.ru.com
							| .
						li
							| Исполнитель имеет право закрыть или приостановить функционирование Сайта или любой его части, дополнять, изменять, обновлять материалы без предварительного уведомления Заказчика.
						li
							| Исполнитель вправе в одностороннем порядке устанавливать стоимость предоставления Услуг.
						li
							| Исполнитель имеет право проводить анкетирование, опрос Заказчика, в том числе запрашивать отзывы о полученных Услугах, публиковать или иным способом распространять результаты анкетирования (опроса), отзывы о предоставленных Услугах.
						li
							| Исполнитель имеет право в одностороннем порядке вносить изменения в условия Договора путем размещения новой редакции Договора на Сайте.
						li
							| В случае, если Заказчик обратился к Исполнителю с официальным письмом на адрес
							=" "
							a(href='mailto:info@autoastat.ru.com') info@autoastat.ru.com
							| , об удалении или изменении информации по конкретному Лоту, как таковой, что содержит ложные, неточные или неполные данные, Исполнитель должен рассмотреть его и принять все необходимые меры.
		li
			| ОТВЕТСТВЕННОСТЬ СТОРОН И ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ
			ol
				li
					| В случае неисполнения или ненадлежащего исполнения своих обязательств по данному Договору Стороны несут ответственность в соответствии с действующим законодательством Украины, условиями данного Договора, а также действующих норм международного права.
				li
					| Исполнитель не несет ответственности за невозможность воспользоваться Услугами по причинам, зависящим от Заказчика.
				li
					| Стороны, принимая во внимание характер предоставляемых Услуг, обязуются в случае возникновения споров и разногласий, связанных с предоставлением Услуг, в обязательном порядке применять досудебный порядок урегулирования спора, в частности - путем направления соответствующего письменного претензии. В случае невозможности урегулирования спора в досудебном порядке, такие споры решаются в судебном порядке в соответствии с правилами подведомственности и подсудности, установленным законодательством Украины и нормами международного права.
				li
					| Исполнитель не несет ответственности за неполучение Заказчиком Услуг по данному Договору, в случае предоставления Заказчиком недостоверной информации во исполнение условий Договора, в том числе, но не исключительно, контактной информации (e-mail, другие средства связи), а также не предоставление информации в случае ее изменения.
				li
					| Исполнитель не несет ответственности за неполучение Заказчиком Услуг по данному Договору, в случае, если Заказчик не может получить Услуги по техническим причинам, не зависящим от Исполнителя, в частности, при отсутствии у Заказчика доступа к сети Интернет в результате действий операторов связи, провайдеров, влияния компьютерных вирусов и / или других вредоносных программ, в связи с отсутствием у него необходимых программно-аппаратных средств и / или ненадлежащей оплаты такого доступа.
				li
					| Исполнитель не несет ответственности за действия или бездействия Заказчика, в результате которых был нанесен ущерб другим Заказчикам услуг Исполнителя, как и не несет ответственности за ущерб, причиненный Заказчику в результате действий или бездействий других Заказчиков Услуг.
				li
					| Исполнитель не несет ответственности за несоответствие Лота ожиданиям Заказчика и / или его субъективную оценку. Такое несоответствие ожиданиям и / или отрицательная субъективная оценка не является основанием считать Услуги предоставленными некачественно, или не в согласованном объеме.
				li
					| Исполнитель не несет ответственности за содержание информации третьих лиц, размещенной на Сайте и веб-сайтах третьих сторон на, которые мы ссылаемся. Исполнитель не несет ответственности за собранные данные третьими лицами, а именно: информацию, касательно состояния, безопасности, товарности, истории аварийных ситуаций, истории продаж и регистрационных данных транспортных средств.
				li
					| Исполнитель не несет ответственности за неполучение прибыли (доходов), получение прибыли ниже ожиданий Заказчика, а также за прямые и косвенные убытки Заказчика.
				li
					| Заказчик самостоятельно несет ответственность за любые последствия своих действий или бездействий, в том числе за ожидаемые результаты от полученной Услуги.
		li
			| ЛИЧНЫЕ ДАННЫЕ
			ol
				li
					| Заключая этот Договор Заказчик подтверждает, что он полностью ознакомлен и согласен с его условиями, а также с положениями Закона Украины «О защите персональных данных», Политикой конфиденциальности, опубликованной на данном Сайте, а также дает разрешение Заказчику на обработку своих персональных данных.
				li
					| Персональные данные, предоставленные Заказчиком, являются личной и конфиденциальной информацией, соответственно Политики конфиденциальности, опубликованной на странице
					=" "
					a(href='//autoastat.ru.com/privacy') ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ
					|  и которая является неотъемлемой частью Договора.
		li
			| ФОРС-МАЖОР
			ol
				li
					| Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по данному Договору, если это неисполнение стало следствием действия обстоятельств непреодолимой силы (форс-мажорных обстоятельств), возникших после заключения данного Договора и сделало невозможным выполнением обязательств в соответствии с условиями этого Договора. К таким обстоятельствам в частности, но не ограничиваясь, относятся чрезвычайные ситуации техногенного, природного или экологического характера, аварии в системах электроснабжения, разрушение этих систем, вызванные, в частности, землетрясениями, наводнениями, ураганами и т.д., длительное отсутствие электроэнергии и интернета по независящим от сторон причинам, военные действия, забастовка, массовые беспорядки, и другие противоправные действия, а также наводнение, пожар, антитеррористические операции, землетрясения и другие стихийные бедствия, война, военные действия, неконтролируемые, противоправные действия и акты вандализма третьих лиц, революционные действия, общественные беспорядки, акты или действия органов государственного управления, принятия законных или подзаконных актов, которые прямо влияют на возможность выполнения сторонами условий данного Договора, и любые другие чрезвычайные обстоятельства.
				li
					| Если форс-мажорные обстоятельства и их последствия продолжают действовать более трех месяцев, Стороны в кратчайшие сроки должны провести переговоры с целью выявления приемлемых для обеих Сторон альтернативных способов исполнения условий данного Договора и достижения соответствующих письменных договоренностей.
		li
			| СРОК ДЕЙСТВИЯ ДОГОВОРА И УСЛОВИЯ ЕГО РАСТОРЖЕНИЯ
			ol
				li
					| Данный Договор вступает в силу с момента акцепта этого Договора Заказчиком и действует до полного исполнения Сторонами своих обязательств.
				li
					| Данный Договор может быть расторгнут досрочно:
					ul
						li по взаимному согласию Сторон;
						li
							| по инициативе Заказчика, в случае нарушения Исполнителем условий данного Договора;
						li
							| по требованию Исполнителя, в случае нарушения Заказчиком условий данного Договора.
		li
			| ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
			ol
				li
					| Прием Заказчиком условий данного Договора (акцепт оферты) возможно только в полном объеме. Частичный акцепт оферты, а также акцепт оферты на иных условиях не допускаются.
				li
					| Заказчик гарантирует, что все условия Договора ему понятны и он принимает их безусловно и в полном объеме, без каких-либо оговорок и условий.
				li
					| Заказчик дает свое согласие на информирование о других Услугах Исполнителя и (или) его партнеров путем e-mail рассылки на указанный Заказчиком адрес. Данное согласие дается на неопределенный срок и действует до получения Исполнителем уведомления Заказчика об отказе от рассылки на электронный адрес e-mail:
					=" "
					a(href='mailto:info@autoastat.ru.com') info@autoastat.ru.com
					| .
				li
					| Случаи, не урегулированные данным Договором, Стороны обязуются урегулировать, руководствуясь нормами, установленными действующим законодательством Украины и международными нормами.
				li
					| Стороны дают друг другу согласие на обработку и хранение персональных данных, которые становятся им известны в связи с заключением данного Договора, в пределах, в которых это необходимо в соответствии с требованиями действующего законодательства.
	h3.mt-5 КОНТАКТЫ АДМИНИСТРАЦИИ САЙТА
	p
		| E-mail:
		=" "
		a(href='mailto:info@autoastat.ru.com') info@autoastat.ru.com