extends _layouts/base

block head_end
	link(rel='stylesheet', type='text/css', href='https://unpkg.com/swiper/swiper-bundle.min.css')
	link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css')

block content
	include _partials/breadcrumbs
	.content
		.no-content
			.skeleton
				.row
					.col-lg-6.col-md-12
						.card.full-height
							.card-header
								h4.skeleton-title(style="width: 30%;")
							.card-body
								.skeleton-gallery
									.skeleton-main-image
										.skeleton-image
									.skeleton-thumbs
										.skeleton-image
										.skeleton-image
										.skeleton-image
										.skeleton-image
					.col-lg-6.col-md-12
						.card.full-height
							.card-header
								h1.skeleton-title(style="width: 40%;")
							.card-body
								.title
									h2.skeleton-sub-title(style="width: 60%;")
									ul.skeleton-paragraph(style="width: 40%;")
										li
								.fees
									.row
										.col-sm-4
											ul.skeleton-paragraph.mt-0.mb-0
												li(style="width: 60%;")
												li(style="width: 70%;")
												li(style="width: 80%;")
												li(style="width: 60%;")
												li(style="width: 50%;")
												li(style="width: 80%;")
										.col-sm-8
											ul.skeleton-paragraph.mt-0.mb-0
												li(style="width: 50%;")
												li(style="width: 40%;")
												li(style="width: 60%;")
												li(style="width: 50%;")
												li(style="width: 40%;")
												li(style="width: 60%;")
				.row
					.col-lg-4.col-md-12
						.card.full-height
							.card-header
								h1.skeleton-title(style="width: 40%;")
							.card-body
								.fees
									.row
										.col-sm-6
											ul.skeleton-paragraph.mt-0.mb-0
												li(style="width: 80%;")
												li(style="width: 60%;")
												li(style="width: 60%;")
												li(style="width: 80%;")
												li(style="width: 90%;")
												li(style="width: 40%;")
												li(style="width: 80%;")
												li(style="width: 30%;")
										.col-sm-6
											ul.skeleton-paragraph.mt-0.mb-0
												li(style="width: 70%;")
												li(style="width: 80%;")
												li(style="width: 90%;")
												li(style="width: 60%;")
												li(style="width: 80%;")
												li(style="width: 90%;")
												li(style="width: 60%;")
												li(style="width: 80%;")
					.col-lg-4.col-md-12
						.card.full-height
							.card-header
								h1.skeleton-title(style="width: 40%;")
							.card-body
								.fees
									.row
										.col-sm-6
											ul.skeleton-paragraph.mt-0.mb-0
												li(style="width: 80%;")
												li(style="width: 60%;")
												li(style="width: 60%;")
												li(style="width: 80%;")
												li(style="width: 90%;")
										.col-sm-6
											ul.skeleton-paragraph.mt-0.mb-0
												li(style="width: 70%;")
												li(style="width: 80%;")
												li(style="width: 90%;")
												li(style="width: 60%;")
												li(style="width: 80%;")
					.col-lg-4.col-md-12
						.card.full-height
							.card-header
								h1.skeleton-title(style="width: 40%;")
							.card-body
								.fees
									.row
										.col-sm-6
											ul.skeleton-paragraph.mt-0.mb-0
												li(style="width: 80%;")
												li(style="width: 60%;")
												li(style="width: 60%;")
												li(style="width: 80%;")
												li(style="width: 90%;")
												li(style="width: 40%;")
												li(style="width: 80%;")
										.col-sm-6
											ul.skeleton-paragraph.mt-0.mb-0
												li(style="width: 70%;")
												li(style="width: 80%;")
												li(style="width: 90%;")
												li(style="width: 60%;")
												li(style="width: 80%;")
												li(style="width: 90%;")
												li(style="width: 60%;")
			.loader
				.lds-roller
					div
					div
					div
					div
					div
					div
					div
					div
				h3 Обновляем информацию
	.content
		.row
			.col-lg-6.col-md-12
				.card.full-height
					.card-header.justify-content-between
						h1
							| 2008 Aero Cub
							span.badge.badge-success Продано
					.card-body
						.gallery-responsive
							.swiper-container.gallery-top
								.swiper-wrapper
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/1-86c2814fc149e2656fde5089a2a6de9b-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/2-a9839a1c98da9405bc0dd9af9f0a6e83-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/3-5e8a72f5a0b2cddaa5ab23d671ca8c26-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/4-a27b3a6f9ca2c99e2bcd9edc73769605-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/5-051207f7492b0775268662f8a708a1c8-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/6-26d04523656b2f1db56323b700267bec-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/7-e9d4e03ac877ea2841b5099695277618-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/8-9ee408f74382658c458f9958632f2280-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/9-1b3990bae3586db7f48fb1c948a69702-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/10-5e933055e819e81ddff6ad3a7b0f107c-lot_preview_watermark.jpg")
								.swiper-button-next.swiper-button-white
								.swiper-button-prev.swiper-button-white
							.swiper-container.gallery-thumbs
								.swiper-wrapper
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/1-86c2814fc149e2656fde5089a2a6de9b-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/2-a9839a1c98da9405bc0dd9af9f0a6e83-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/3-5e8a72f5a0b2cddaa5ab23d671ca8c26-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/4-a27b3a6f9ca2c99e2bcd9edc73769605-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/5-051207f7492b0775268662f8a708a1c8-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/6-26d04523656b2f1db56323b700267bec-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/7-e9d4e03ac877ea2841b5099695277618-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/8-9ee408f74382658c458f9958632f2280-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/9-1b3990bae3586db7f48fb1c948a69702-lot_preview_watermark.jpg")
									.swiper-slide
										img(src="https://s.autoastat.com/images/copart/2020/4/23/47CTA4L278J168897/10-5e933055e819e81ddff6ad3a7b0f107c-lot_preview_watermark.jpg")
			.col-lg-6.col-md-12
				.card.full-height
					.card-header
						h4
							span.icon-ico_bid.red
							| Ставка
					.card-body
						.title
							h2
								| Выигрышная ставка:
								span.green $1 300 USD
							p
								span.badge.badge-warning 20%
								|  от рыночной цены $8 050 USD
						.fees
							table.table
								thead
									tr
										th
											span.d-none.d-lg-inline Тип
											|  Лицензии
										th Сборы
										th
											span.d-none.d-lg-inline Окончательная
											|  Цена
								tbody
									tr
										td Дилер
										td $368 USD
										td $1 668 USD
									tr
										td Розница
										td $493 USD
										td $1 793 USD
						.row
							.col-lg-8.col-md-12
								dl.details-list
									dt № лота:
									dd 33711790
									dt VIN:
									dd 47CTA4L278J168897
									dt Дата:
									dd 23/04/2020
									dt Продавец:
									dd Unknown Insurance Company
									dt Местонахождение:
									dd Hurricane
		.row
			.col-lg-4.col-md-12
				.card.full-height
					.card-header.justify-content-between
						h4
							span.icon-directions_car.red
							| Автомобиль
					.card-body
						dl.details-list
							dt Одометр, миль:
							dd 0 (не подтвержден)
							dt Двигатель:
							dd Неизвестно
							dt Топливо:
							dd Неизвестно
							dt Привод:
							dd Неизвестно
							dt Трансмиссия
							dd Неизвестно
							dt Цвет:
							dd White
							dt Рыноч. цена:
							dd
								| $8 050 USD
							dt Цена восст.:
							dd Неизвестно
			.col-lg-4.col-md-12
				.card.full-height
					.card-header
						h4
							span.icon-whatshot.red
							| Происшествие
					.card-body
						dl.details-list
							dt Урон:
							dd Неизвестно
							dt Повреждение:
							dd Side, Biohazard/chemical
							dt Заводится и едет:
							dd Нет
							dt Заводится:
							dd Заводится
							dt Ключи:
							dd Нет
			.col-lg-4.col-md-12
				.card.full-height
					.card-header
						h4
							span.icon-store_mall_directory.red
							| Аукцион
					.card-body
						dl.details-list
							dt Аукцион:
							dd
								img(src='/img/icons/copart.svg', alt='Copart')
								|  Copart
							dt Дата:
							dd 23/04/2020
							dt Местонахождение:
							dd Hurricane
							dt Документы:
							dd WV - Salvage Certificate
							dt Кто может ставить:
							dd Все
							dt Статус продажи:
							dd Чистая продажа
							dt Достигнут резерв:
							dd Да
		.row
			.col-lg-12
				.card
					.card-header
						h4
							span.icon-poll.red
							|  История продаж
							span.grey  (1)
					table.table.table-history
						thead
							tr
								th(scope='col') Аукцион
								th(scope='col') Дата
								th(scope='col') № лота
								th(scope='col') Выигрышная ставка
								th(scope='col') Статус
								th(scope='col') Продавец
						tbody
							tr
								td
									img(src='/img/icons/iaai.svg', alt='IAAI')
									span IAAI
								td 21/07/2020
								td
									| 27720402
								td $6 075 USD
								td
									span.badge.badge-success Продано
								td GEICO Insurance
							tr
								td
									img(src='/img/icons/iaai.svg', alt='IAAI')
									span IAAI
								td 21/07/2020
								td
									| 27720402
								td $6 075 USD
								td
									span.badge.badge-success Продано
								td GEICO Insurance
							tr
								td
									img(src='/img/icons/iaai.svg', alt='IAAI')
									span IAAI
								td 21/07/2020
								td
									| 27720402
								td $6 075 USD
								td
									span.badge.badge-success Продано
								td GEICO Insurance
block body_end
	script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(type='text/javascript', src='https://unpkg.com/swiper/swiper-bundle.min.js')
	script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js')
	script(type='text/javascript', src='js/script.js')
