extends _layouts/base

block head_end

block content
	include _partials/form
	.home-content
		h1 Что такое AutoAstat?
		p
			| Североамериканская платформа AutoAstat это гигантская база данных, призванная уменьшить подбор и проверку транспортных средств. Сервис запустил свою работу относительно недавно, в 2017 году и с тех пор является самым известным инструментом по поиску автомобилей. Пользователи отмечают интуитивно понятный интерфейс, а также огромное количество фильтров и способов по поиску, позволяющий максимально быстро найти интересующее транспортное средство. Главная особенность сервиса состоит в предоставлении полной информации о лотах, не скрывая подробности и не пряча дополнительные сведения.
		p
			| Благодаря AutoAstat любой пользователь имеет возможность ввести поисковое поле VIN-номер автомобиля или номер лота, после чего алгоритмы мгновенно найдут всю информацию и данные, которые будут интересны пользователю. Таким образом, с тех пор как сервис начал свою работу недобросовестные перекупщики перестали иметь возможность продавать некачественно восстановленные машины за высокую цену.
		h2 История аукционов IAAI и Copart на АвтоАстат
		p
			strong На нашем сервисе получить такую информацию, как:
		ul
			li Данные со страховых аукционов IAAI и Copart;
			li Данные абсолютно каждого лота, проданных I Buy Fast;
			li Данные абсолютно каждого лота, проданных Time Auctions;
			li Фотографии поврежденных автомобилей;
			li Год выпуска;
			li Ценовой диапазон;
			li Степень повреждения и заключения страховой службы;
			li Пробег и т.д.
		p
			| Полная история страховых аукционов на русском языке с Copart и IAAI из США и Канады предоставляет Autoastat. Вы можете ознакомиться с количеством окончательной ставки, за которую автомобиль приобрели в процессе проведения аукциона. Также существует возможность оценить свои силы и понять, до какого размера ставки необходимо торговаться. Вам это поможет в том случае, если вы намерены купить автомобиль из США.
		p
			| Важно отметить, что информация, загружаемая на сайт, добавляется с некоторой задержкой, равной от 2 до 24 часов, что связано с техническими возможностями базы данных.
		p
			| Также добавление данных по лотам, которые не содержатся на сайте возможно только в том случае, если они были подтверждены конкретно самим аукционом. Любые другие меры в виде
			span скриншотов
			|  или бумажные
			span инвойсы
			|  не являются подтверждением. Таким образом в положительном случае, ваш лот, прошедший проверку и утвержденный аукционом, будет добавлен на наш сайт.
		h2 Откуда берется информация в AutoAstat
		p
			| Всю информацию сервис берет из двух крупнейших североамериканских аукциона о которых упоминалось ранее, а именно: IAAI и Copart. Они содержат огромное количество открытой информации по абсолютно каждому автомобилю в связи с чем, алгоритмы сервиса всего лишь находят все данные и фильтруют их для демонстрации пользователю. Прежде всего автомобилистам предлагается ознакомится с такими данными, как:
		ul
			li Фотографии транспортного средства (до и после повреждения);
			li Основная техническая информация;
			li Данные о каждом владельце автомобиля.
		p
			| Благодаря этому ни один недобросовестный продавец не сможет скрыть реальное состояние ТС.
		h2 Что еще можно искать с помощью AutoAstat
		p
			| Как уже говорилось ранее, сервис имеет большое количество фильтров, позволяющий выставить огромное количество параметров, тем самым максимально подробно ознакомиться со всем рынком той или иной категории. Еще автомобилисты могут поставить конкретную дату лота, чтобы не тратить большое количество времени на неактуальную выдачу.
		p
			| И в завершении, поиск ведется по территории не только США, но и Канады, расширяя спектр предложений.
