extends _layouts/base

block head_end

block content
	h1 Политика конфиденциальности и защиты персональных данных
	p
		| Конфиденциальность Пользователей нашего Сайта является для нас приоритетом, поэтому мы обязуемся защищать конфиденциальность персональных данных Пользователей этого веб-сайта и делать все возможное, чтобы персональные данные Пользователей обрабатывались с учетом их основных прав и свобод, а также личного достоинства, в том числе в части обеспечения их конфиденциальности.
	p
		| Мы собираем только ту информацию, которая позволяет предоставлять Вам наши услуги на самом высоком уровне. Это также помогает нам защищать Autoastat от мошеннических действий и спама, и дает нам понимание того, какие дополнительные услуги могут быть полезными для достижения всех целей, выложенных в данной Политике конфиденциальности и защиты персональных данных (далее – Политика).
	ol.recursive
		li
			| ТЕРМИНЫ, ИСПОЛЬЗУЕМЫЕ В ЭТОЙ ПОЛИТИКЕ
			ol
				li
					| Владелец сайта – правообладатель доменного имени autoastat.ru.com, владелец исключительных прав на использование Сайта, в том числе баз данных, которые входят в его состав, информационных материалов, графических изображений и других объектов, входящих в состав Сайта, в том числе дизайн Сайта.
				li
					| Администрация сайта (мы) – лицо или группа лиц, которая(ые) обладает(-ют) полномочиями управления Сайтом, его модерированием, размещением контента Сайта и взаимодействия с Пользователями, а также на осуществление других действий, связанных с использованием Сайта. Администрация сайта действует от имени Владельца сайта.
				li
					| Персональные данные (персональная информация) – сведения или совокупность сведений о физическом лице, которое идентифицировано или может быть конкретно идентифицировано.
				li
					| Обработка персональных данных – любое действие или совокупность действий, таких как сбор, регистрация, накопление, хранение, адаптирование, изменение, возобновление, использование и распространение (реализация, передача), уничтожение персональных данных, в том числе с использованием информационных (автоматизированных) систем.
				li
					| Автоматизированный сбор персональных данных – обработка персональных данных с помощью средств вычислительной техники.
				li
					| Сайт – совокупность данных, электронной (цифровой) информации, других объектов авторского права и (или) смежных прав и т.п., связанных между собой и структурированных в пределах адреса autoastat.ru.com и всех, включающих ним субдоменов.
				li
					| Все другие термины и определения, встречающиеся в тексте Условий использования, трактуются Сторонами в соответствии с данной Политикой, а при отсутствии их трактования, согласно действующему законодательству Украины и международным нормам.
		li
			| ОБЩИЕ ПОЛОЖЕНИЯ
			ol
				li
					| Пользуясь сайтом
					=" "
					a(href='https://autoastat.ru.com') www.autoastat.ru.com
					|  (далее - Сайт), Вы доверяете нам свою личную информацию. Мы делаем всё для обеспечения ее безопасности и в то же время, предоставляем Вам возможность управлять своими данными.
				li
					| Внимательно ознакомьтесь с нашей Политикой, чтобы знать, какие сведения мы собираем, в каких целях их используем и как Вы можете их изменять, экспортировать или удалять.
				li
					| Эта Политика является обязательным документом и действует вместе с
					=" "
					a(href='//autoastat.ru.com/agreement') Публичной офертой
					|  и
					=" "
					a(href='//autoastat.ru.com/terms') Условиями пользования сайтом
					| . Используя Сайт, Пользователь подтверждает свое согласие со всеми документами, упомянутыми выше. Для того, чтобы зарегистрироваться на Сайте и использовать Autoastat, Пользователь должен внимательно ознакомиться с вышеупомянутыми документами, и предоставить свое полное согласие с его условиями путем нажатия кнопки «Я подтверждаю, что ознакомился с Публичной офертой, Политикой конфиденциальности и защиты персональных данных».
				li
					| Пользователь не имеет права использовать Autoastat, если он не согласен с Условиями пользования сайтом и условиями данной Политики.
		li
			| СБОР ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li
					| Пользователь дает свое согласие на обработку полученной информации, включая сбор, хранение, использование, систематизацию, накопление, хранение, уточнение (обновление, изменение), блокировку, уничтожение персональных данных, оставленных при использовании средств автоматизации, формировании базы данных Пользователей сайта/сервиса, составление статистической отчетности, а также на получение информации о проведенных исследованиях и других предложениях компании Autoastat и уполномоченных лиц.
				li
					| Пользователь подтверждает, что дает согласие на получение рекламных SMS-сообщений и электронных писем, до отзыва такого согласия. Пользователь подтверждает свое согласие, что компания Autoastat и уполномоченные лица имеют право взаимодействовать с Пользователем путем осуществления прямых контактов с помощью различных средств связи, включая, но не ограничиваясь: почтовая рассылка, электронная почта, сеть Интернет и др.
				li
					| Администрация сайта оставляет за собой право использовать присланную информацию указанными выше способами без специального согласования с Пользователями и без выплаты Пользователю денежного вознаграждения. Компания Autoastat сохраняет за собой право периодического обновления или внесения изменений в эту Политику в одностороннем порядке.
				li
					| Пользователь имеет право в любое время отозвать свое согласие, направив письменное безотзывное сообщение, воспользовавшись контактными данными, размещенными на Сайте.
		li
			| КАТЕГОРИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li
					| Мы осуществляем сбор и хранение только той персональной информации, которую Вы предоставляете нам добровольно или в случае, когда информация нужна для предоставления (улучшения) наших Услуг, а также - информацию, которая автоматически сохраняется, когда Вы используете Сайт.
				li
					| Такая информация может включать:
					ol
						li
							| идентифицирующие личность данные, которые Вы предоставляете, когда регистрируете личный кабинет, обновляете или меняете информацию в нем, покупаете Услуги, проходите опрос, участвуете в обсуждениях на открытых форумах, отправляете нам электронные письма, информация, которую Вы предоставляете во время транзакций, другая финансовая информация, почтовая информация. К этой информации, в частности, относятся: фамилия, имя и отчество, номер мобильного телефона, адрес электронной почты, логин и пароль доступа для входа в личный кабинет;
						li автоматически собранные данные (cookies, IP адрес, User-agent);
						li
							| данные в соцсетях. Если Вы создаете учетную запись на Autoastat через сторонние сайты социальных сетей, таких как Facebook, Вы соглашаетесь предоставить нам длительный доступ к Вашим персональным данным на таких сайтах (например, Ваш общедоступный профиль, список друзей, учетные записи, которые у вас есть или относятся к Вам, Ваш адрес электронной почты, день рождения, история образования, интересы, город проживания, история просмотра видео). Мы можем получать определенную информацию о Вас, которая хранится на сайтах социальных сетей, если Пользователи этих сайтов предоставляют нам доступ к их профилям, и Вы являетесь одним из их друзей или адресатов, в зависимости от Ваших настроек на этих сайтах;
						li
							| данные из других источников. Информация, которую мы собираем, может сочетаться с информацией из внешних источников (например, демографические данные и дополнительная контактная информация), в том числе общедоступная (находящаяся в свободном доступе) информация, полученная нами в порядке и из источников, не запрещенных действующим законодательством.
				li
					| Автоматизированный сбор персональных данных:
					ol
						li
							| Мы можем собирать и получать дополнительные данные и информацию о Вас. Например, во время пользования Сайтом происходит автоматизированный сбор информации об оборудовании, с которого Вы посещаете Сайт, о программном обеспечении, операционной системе, IP адрес, источники ссылок на этом Сайте, просмотренных Вами веб-страницах, параметрах и настройках интернет-браузеров (User- agent), ссылки, которые Вы использовали для доступа к Сайту, и другое. Такой автоматизированный сбор данных происходит с целью настройки удобства в работе с сервисами Сайта и предложений для Вас, а также для предотвращения возможных случаев мошенничества.
						li
							| Автоматизированный сбор некоторых данных и применение технологии «cookies» способствует улучшению функциональных характеристик Сайта и разработке максимально удобных в пользовании сервисов Сайта, помогает нам оценивать проведения рекламных и маркетинговых кампаний, а также предоставляет информацию, которая может быть для Вас наиболее интересной и полезной. Файлы «cookies» - небольшие текстовые файлы, которые могут быть сохранены на Вашем компьютере (или другом оборудовании) при первом посещении Сайта и позволяют распознать ваш компьютер при повторном посещении (например, для того, чтобы запомнить Ваш логин для входа в раздел «Личный кабинет»). Существует несколько типов файлов "cookie": файлы «cookie» сеанса, которые заканчиваются в конце сеанса веб-страницы и позволяют связывать Ваши действия во время этой сессии веб-страницы; постоянные файлы «cookie», которые хранятся на вашем устройстве между сессиями веб-страницы, что позволяет нам запоминать ваши настройки или действия на нескольких сайтах.
						li
							| Файлы «cookies» не могут никоим образом влиять на работу Вашего компьютера (или другого оборудования) или его данных, или занести вирус.
						li
							| Если вы не хотите передавать «cookies» на сторонний сервер, то для этого необходимо просто перейти в настройки своего браузера и блокировать данные файлы, установив флажок в соответствующем окошке, также в настройках можно задать параметры так, чтобы система каждый раз сообщала об их отправке. Но в таком случае некоторые возможности Сайта могут стать недоступными, или работать неправильно.
						li
							| «IP-адрес» – это номер, который используется компьютерами в сети для идентификации Вашего компьютера, чтобы обеспечить возможность передачи Вам данных.
						li
							| Параметры среды включают, помимо прочего, домен, с которого происходит доступ в сеть Интернет, время посещения данного Сайта, тип браузера и операционной системы или платформы, которые используются, Интернет-адрес веб-сайта, с которого произошел переход на этот Сайт, названия страниц, загруженных на этом Сайте.
						li Сайте и Интернет-адрес сайта, на который произошел переход.
						li
							| Такая информация собирается Администрацией Сайта для внутреннего использования, например, для повышения безопасности Сайта, для выявления общих демографических направлений, для обеспечения компанией Autoastat содержания в соответствии с Вашими интересами и для улучшения пользования этим Сайтом. Такая информация может предоставляться третьим сторонам, как одно целое и без возможности идентификации личности Пользователя.
						li
							| Обращаем Ваше внимание: Администрация ограничивается сбором минимального объема информации, который необходим исключительно для оказания Услуг. В любом случае, когда запрашивается необязательная к предоставлению информация, Вы будете уведомлены в момент сбора такой информации. Мы не собираем любую информацию, к сбору которой, законодательством установлены определенные требования, как-то информацию о расовом или этническом происхождении, политических, религиозных или мировоззренческих убеждениях, членстве в политических партиях и профессиональных союзах, обвинения в совершении преступления или осуждения к уголовному наказанию, а также данных, касающихся здоровья или половой жизни (согласно статье 7 Закона Украины «О защите персональных данных»).
		li
			| ЦЕЛЬ ИСПОЛЬЗОВАНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li
					| Ваши персональные данные используются с целью обеспечения качественных Услуг, в том числе, но не исключительно, чтобы:
					ul
						li обеспечить поддержку работы сервисов Сайта;
						li
							| обеспечивать надлежащую обратную связь (включая направление сообщений, запросов; обработка заявок, создание личного кабинета, для верификации Вашего лица и предоставления Вам помощи, в случае если Пользователь потеряет или забудет свой логин/пароль, связь «Продавец-Покупатель»);
						li
							| запоминать информацию, чтобы Вам не пришлось заново вводить ее во время текущего или следующего посещения Сайта;
						li обеспечивать, повышать, тестировать и отслеживать эффективность сервиса;
						li разрабатывать и тестировать новые продукты и функции;
						li отслеживать метрики, например, общее количество посетителей и трафик;
						li диагностировать или исправлять технические неполадки;
						li
							| сообщать Вам о новых возможностях, обновлениях и акциях Сайта и Администрации Сайта;
						li
							| использовать в маркетинговых целях, создавать уникальные предложения для каждого Пользователя;
						li
							| обрабатывать Ваши платежи (мы можем использовать Вашу информацию для обработки Ваших платежей);
						li предотвращать мошеннические действия и распространение спама;
						li
							| обеспечивать выполнение действующего законодательства, данной Политики конфиденциальности.
				li
					| Персональные данные собираются и используются согласно, и во исполнение законов Украины как-то, но не исключительно: «О защите персональных данных», «О ратификации Конвенции о защите лиц в связи с автоматизированной обработкой персональных данных и Дополнительного протокола к Конвенции о защите лиц в связи с автоматизированной обработкой персональных данных относительно органов надзора и трансграничных потоков данных», «О защите прав потребителей», «Об информации », «О рекламе», «О телекоммуникациях», «О защите информации в информационно-телекоммуникационной системах», других норм действующего законодательства Украины, норм международного права и GDPR (General Data Protection Regulation).
		li
			| МЕТОД И МЕСТО ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li
					| Обработка данных осуществляется с использованием компьютеров и (или) средств с поддержкой информационных технологий в соответствии организационных процедур и целей использования персональных данных.
				li
					| В некоторых случаях персональные данные могут быть доступны, кроме Владельца сайта и Администрации сайта, определенным категориям ответственных лиц, связанных с обеспечением функционирования Сайта (администрация, отдел продаж, отдел маркетинга, юридический отдел, системные администраторы), или сторонним организациям (таким как независимые поставщики технических услуг, почтовые организации, поставщики услуг хостинга, компании-поставщики информационных технологий, службы связи), которым Владелец сайта поручает, при необходимости, выполнять функции обработки данных.
				li
					| Персональные данные обрабатываются в операционных офисах Владельца сайта и в любых других местах, где находятся лица, которые занимаются их обработкой. За дополнительной информацией следует обращаться к Администрации сайта.
		li
			| СРОК ХРАНЕНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li
					| Персональные данные хранятся на срок не более, чем это необходимо. Пользователь согласен с тем, что предоставленные им персональные данные будут удалены по его письменному требованию в течение 10 (десяти) дней с даты получения требования об их уничтожении.
		li
			| ПРИНЦИПЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li Обработка персональных данных осуществляется законно и справедливо.
				li
					| Обработка персональных данных ограничивается достижением конкретной, заранее определенной и законной цели. Не допускается обработка персональных данных, несовместимая с целью сбора персональных данных.
				li
					| Содержание и объем обрабатываемых персональных данных соответствуют заявленной цели обработки. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленной цели их обработки.
				li
					| Хранение персональных данных осуществляется не дольше, чем этого требует цель обработки персональных данных.
				li
					| Обрабатываемые персональные данные подлежат уничтожению или обезличиванию после достижения цели обработки, или в случае потери необходимости в достижении этой цели.
		li
			| ВЗАИМОДЕЙСТВИЕ САЙТА С ДРУГИМИ РЕСУРСАМИ
			ol
				li
					| При использовании Пользователем сервисов, на страницах Сайта Autoastat могут присутствовать коды других интернет-ресурсов и третьих лиц, в результате чего такие Интернет-ресурсы и третьи лица получают Ваши данные. Следовательно, эти Интернет-ресурсы могут получать и обрабатывать информацию о том, что Вы посетили эти страницы, а также другую информацию, которую передает браузер Пользователя. Такими Интернет-ресурсами могут быть:
					ul
						li
							| системы баннеропоказов (например, DoubleClick for Publishers, Admixer, AdRiver и др.);
						li
							| системы по сбору статистики посещений сервисов (например, счетчики Google Analytics);
						li социальные плагины сетей (например, Discus, Facebook, Twitter, Google+).
				li
					| Использование указанных сервисов администрации необходимых для оперативного анализа посещений Сайта, внутренней и внешней оценки посещаемости Сайта, объёма просмотров, активности Пользователей. Данные, полученные от указанных сервисов, Администрация не сохраняет и не обрабатывает.
				li
					| Соответственно, если Пользователь в силу любых причин не желает, чтобы указанные Услуги получали доступ к его персональным данным, Пользователь может по собственному желанию выйти из своего аккаунта или профиля, очистить файлы cookie (через свой браузер).
		li
			| БЕЗОПАСНОСТЬ
			ol
				li
					| Сайт не предназначен для несовершеннолетних Пользователей. Администрация очень серьезно относится к вопросам безопасности, особенно в отношении лиц, не достигших совершеннолетия, в связи с чем, со своей стороны, Администрация обращается к родителям с просьбой объяснить своим детям вопросы безопасности в Интернете, их конкретную цель и необходимость использования тех или других сервисов Сайта.
		li
			| ВЗАИМОДЕЙСТВИЕ АДМИНИСТРАЦИИ С ТРЕТЬИМИ ЛИЦАМИ ОТНОСИТЕЛЬНО ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li
					| Администрация не осуществляет передачу персональных данных третьим лицам, кроме случаев, когда такая передача является требованием законодательства, по просьбе субъекта персональных данных или в других случаях, изложенных в данной Политике. Администрация понимает, что личная информация является ценностью и неотъемлемой составляющей, в том числе, личных неимущественных прав любого физического лица, и поэтому принимает все возможные меры для защиты личной информации Пользователей, добровольно и осознанно передаваемой последними Администрации.
				li
					| На Сайте могут быть ссылки на другие веб-сайты (исключительно в информационных целях). При переходе по ссылке на другие веб-сайты действие этой Политики на такие сайты не распространяется. В связи с чем, Администрация рекомендует ознакомиться с Политикой в области конфиденциальности и персональных данных каждого веб-сайта перед тем, как передавать персональные данные, по которым вы можете быть идентифицированы.
				li
					| Обращаем Ваше внимание: при переходе по ссылке на другие веб-сайты действие Политики Администрации в сфере конфиденциальности и персональных данных на такие веб-сайты распространяться не будет. В связи с этим, Администрация рекомендует просматривать Политику в сфере конфиденциальности и персональных данных каждого сайта перед тем, как передавать персональные данные, по которым Вас могут идентифицировать.
		li
			| ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li
					| Администрация использует общепринятые стандарты технологической и операционной защиты информации и персональных данных от потери, неправильного использования, изменения или уничтожения. Однако, несмотря на все усилия, мы не можем гарантировать абсолютную защищенность от любых угроз, возникающих за пределами нашей ответственности.
				li
					| Однако, Администрация обеспечивает применение всех соответствующих обязательств по соблюдению конфиденциальности, а также технических и организационных мер безопасности для предотвращения несанкционированного или незаконного разглашения, или обработки такой информации и данных, их случайной потери, уничтожения или повреждения.
				li
					| Мы обеспечиваем применение всех соответствующих обязательств для защиты конфиденциальности данных. Все собранные нами данные хранятся на одном или нескольких защищенных серверах баз данных. Только те сотрудники Autoastat, которым необходимо выполнять рабочие функции, для которых требуется доступ к личной информации Пользователей, имеют доступ к информации о Пользователях. Мы предоставляем доступ к информации и персональным данным только уполномоченным сотрудникам, которые дали согласие на обеспечение конфиденциальности такой информации.
		li
			| УСЛОВИЯ ДОСТУПА К ПЕРСОНАЛЬНЫМ ДАННЫМ
			ol
				li
					| Порядок доступа к персональным данным третьих лиц определяется условиями согласия Пользователя, предоставленного Администрации сайта или иным субъектам, которые осуществляют сбор персональных данных на обработку этих данных, или в соответствии с требованиями закона.
				li
					| Пользователь имеет право на получение любых сведений о себе у любого субъекта отношений, связанных с персональными данными, при условии указания фамилии, имени и отчества, места жительства (места пребывания) и реквизитов документа, удостоверяющего физическое лицо, подающего запрос, кроме случаев, установленных законом.
				li Доступ Пользователя к данным о себе осуществляется бесплатно.
				li Отсрочка доступа Пользователя к своим персональным данным не допускается.
				li
					| Отсрочка доступа к персональным данным третьих лиц допускается в случае, если необходимые данные не могут быть предоставлены в течение тридцати календарных дней со дня поступления запроса. При этом общий срок решения вопросов, затронутых в запросе, не может превышать сорока пяти календарных дней.
				li
					| Сообщение об отсрочке доводится до сведения третьего лица, подавшего запрос, в письменной форме с разъяснением порядка обжалования такого решения.
				li
					| Решение об отсрочке или отказе в доступе к персональным данным может быть обжаловано к Уполномоченному Верховной Рады Украины по правам человека или через суд.
				li
					| Согласно законодательству Украины персональные данные могут быть переданы правоохранительным, судебным органам и другим учреждениям в целях защиты основ конституционного строя, нравственности, здоровья, прав и законных интересов других лиц, обеспечения обороны страны и безопасности государства.
		li
			| ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ О ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ
			ol
				li
					| Кроме информации, содержащейся в данной Политике, Администрация сайта может предоставлять Пользователю по запросу дополнительную и контекстуальную информацию, касающуюся конкретных Услуг и сервисов или сбора и обработки персональных данных.
		li
			| ПРАВА СУБЬЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ
			ol
				li
					| Мы напоминаем Вам о Ваших правах, как субъекта персональных данных, которые урегулированы Законом Украины «О защите персональных данных» № 2297-VI.
				li
					| Пользователи вправе в любое время узнать, были ли сохранены их Персональные данные, и могут обращаться к Администрации сайта, чтобы узнать их содержание и происхождение, проверить их достоверность, или попросить их дополнить, аннулировать, обновить или исправить, или превратить в формат, что обеспечивает анонимность, или блокировать любые данные, которые хранятся в нарушение закона, а также выступить против их обработки по всем без исключения законных основаниях.
				li
					| Если Вы хотите обновить свои персональные данные, которые были Вами предоставлены, или есть какие-то замечания, пожелания или претензии по Вашим персональным данным, которые мы сохраняем или используем, пожалуйста, обращайтесь к нам: по электронной почте:
					=" "
					a(href='MAILTO:info@autoastat.ru.com') info@autoastat.ru.com
					| .
		li
			| ВНЕСЕНИЕ ИЗМЕНЕНИЙ В ДЕЙСТВУЮЩИЕ ПРАВИЛА
			ol
				li
					| Администрация сайта имеет право в любое время вносить изменения в данные Правила, разместив на этой странице сообщение для Пользователей. Рекомендуется время от времени проверять эту страницу и дату внесения последних изменений, указанную в нижней части страницы.
				li
					| В случае несогласия с любыми изменениями, внесенными в Правила, Пользователь должен прекратить пользоваться Сайтом и Услугами Autoastat и может требовать, чтобы Администрация сайта удалила его персональные данные.
		li
			| ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ
			ol
				li
					| Данная Политика отвечает требованиям законодательства Украины о защите персональных данных, требованиям законодательства большинства стран СНГ и содержит сведения о реализованных Владельцем сайта требованиях к обработке и защите персональных данных.
				li
					| Примечание для европейских Пользователей: данная Политика конфиденциальности подготовлена во исполнение обязанностей, предусмотренных GDPR (General Data Protection Regulation).
	h3 КОНТАКТЫ АДМИНИСТРАЦИИ САЙТА
	p
		| E-mail:
		=" "
		a(href='mailto:info@autoastat.ru.com') info@autoastat.ru.com
	p Дата обновления правил: 01.02.2020

