extends _layouts/base

block head_end

block content
	h1 Условия пользования сайтом
	h3 О Сайте «Autoastat.ru.com»
	p
		| Наш Сайт содержит информационно-исторические и статистические данные касательно продажи автомобилей и других транспортных средств на ведущих аукционных порталах. Удобная структура Сайта позволяет при минимальной затрате времени
		| осуществлять поиски того, что Вас интересует, в частности у Вас есть возможность осуществить поиск данных по конкретному лоту или по VIN номеру, осуществить поиск по выбранным параметрам транспортного средства, а также заказать
		| Отчет с подробной информацией по выбранному лоту. Для эффективного и полноценного пользования Сайтом необходимо быть зарегистрированным Пользователем. При использовании любой из функций или сервисов Сайта, любое дееспособное
		| физическое лицо (далее – Пользователь), подчиняется условиям и ограничениям, изложенным в данных Условиях пользования Сайтом (далее – Условия).
	ol.recursive
		li
			| ТЕРМИНОЛОГИЯ
			ol
				li
					| В данных Условиях используются следующие термины:
					ol
						li
							strong Сайт
							|  – совокупность данных, электронной (цифровой) информации, других объектов авторского права и (или) смежных прав и т.п., связанных между собой и структурированных в пределах адреса
							a(href='//autoastat.ru.com') https://autoastat.ru.com
						li
							strong Пользователь
							|  – физическое или юридическое лицо, использующее Сайт в информационных целях на безоплатной или платной основе.
						li
							strong Администрация сайта (мы)
							|  – лицо или группа лиц, которая (ые) обладает (-ные) рядом полномочий на осуществление управления Сайтом, его модерирование, размещение контента Сайта и взаимодействия с
							|                         Пользователями, а также на осуществление других действий, связанных с использованием Сайта. Администрация сайта действует от имени Владельца сайта.
						li
							strong Контакты Администрации сайта
							| :
							a(href='mailto:info@autoastat.ru.com') info@autoastat.ru.com
							| .
						li
							strong Услуга
							|  – предоставление информационных услуг, а именно предоставление доступа к Сайту и использование его функциональных возможностей для личного некоммерческого использования и, которые не могут
							|                         толковаться как предоставление консультаций и единственный источник информации при покупке подержанного транспортного средства.
						li
							strong Личный кабинет
							|  – закрытая часть Сайта, которая доступна Пользователю после прохождения регистрации, предназначена для настройки и управления сервисами Autoastat, хранения и редактирования данных
							|                         Пользователя. Личный кабинет содержит сведения, которые Пользователь сообщил о себе при регистрации на Сайте и позволяет autoastat.ru.com идентифицировать Пользователя с помощью индивидуального логина и пароля.
						li
							strong Регистрация в личном кабинете
							|  – добровольно осуществлена Пользователем процедура на Сайте, которая заключается в выполнении совокупности действий Пользователем (согласно специальной форме),
							|                         включая предоставление персональных данных, с целью создания Личного кабинета и доступа к сервисам Autoastat.
						li
							strong Логин
							|  – уникальное имя (идентификатор) Пользователя на Сайте, который используется для входа Пользователем в Личный кабинет и совершение им каких-либо действий с использованием функционала Сайта,
							|                         включая заключение и выполнение соглашений, но не ограничиваясь таким.
						li
							strong Пароль
							|  – это секретный набор символов, необходимый для входа в Личный кабинет Пользователя, известен только самому Пользователю.
						li
							strong Отчет
							|  – детальная информация о транспортных средствах, которые были доступны аудитории на аукционных порталах, в случае, если транспортное средство выставлялось на торги.
						li
							strong Лот
							|  – транспортное средство, в отношении которого осуществлялись торги участниками аукциона (наименование, количественные и качественные характеристики, стоимость и т.д.).
						li
							| Все другие термины и определения, встречающиеся в тексте Условий использования, толкуются Сторонами в соответствии с данными Условиями использования, а при отсутствии их толкования, согласно нормам действующего
							| законодательства Украины и международными нормами.
				li
					| Пользуясь страницами Сайта, с помощью Личного кабинета или без регистрации Личного кабинета, но фактически используя (просматривая) Сайт с информационной или любой другой целью, Вы тем самым соглашаетесь на соблюдение
					| всех нижеперечисленных условий.
		li
			| ОБЩИЕ УСЛОВИЯ
			ol
				li
					| На этой странице описаны условия, которые регулируют доступ и использование Сайта autoastat.ru.com (далее - «Сайт»).
				li
					| На Сайте существует как платный контент (далее - платный контент), доступ к которому осуществляется в соответствии с Разделом 4 Условий, положений Публичной оферты, так и контент, который не требует оплаты.
				li
					| Использование Сайта, включая содержание, материалы, другие составляющие регулируется Условиями, изложенными ниже, а также всеми соответствующими нормами законодательства Украины и нормами международного законодательства.
				li
					| Если Вы не согласны и не принимаете данные Условия, пожалуйста, покиньте этот Сайт.
				li
					| Мы можем изменять, добавлять или удалять части этих Условий в любое время и такие изменения вступают в силу немедленно после их публикации. Ваше обязательство прочитать эти Условия перед каждым использованием Сайта и
					| продолжая использовать этот Сайт, Вы соглашаетесь на любые изменения.
		li
			| ПРЕДОСТАВЛЕННАЯ ВАМ ЛИЦЕНЗИЯ
			ol
				li
					| В соответствии с Условиями и нашей Политикой мы предоставляем Вам ограниченную, персональную, неисключительную, отзывную и такую, которая не подлежит передаче лицензию на использование Сайта. Содержание Сайта можно
					| использовать только для личного некоммерческого использования, за исключением случаев, когда Вы получили письменное разрешение Администрации на их использование в других целях.
		li
			| ИСПОЛЬЗОВАНИЕ САЙТА
			ol
				li
					| Вы можете использовать Сайт только в соответствии с данными Условиями, положениями Публичной оферты, опубликованной на странице
					a(href='//autoastat.ru.com/terms') https://autoastat.ru.com/terms
					| , а также применимыми
					|                 нормами законодательства.
				li
					| Заполняя любые заявки, формы, в том числе регистрационные, Вы должны указать необходимую, полную и правдивую пользования Сайтом.
				li Использовать Сайт может любое дееспособное физическое лицо, достигшее 18 лет.
				li
					| В случае, если Вы увидели информацию на Сайте, которая по Вашему мнению является неточной, неполной или такой, которая не должна размещаться на нашем Сайте по определенным причинам и подлежит удалению или редактированию,
					| просим Вас обратиться к нам с обоснованным, официальным письмом на адрес
					a(href='info@autoastat.ru.com') info@autoastat.ru.com
					| , которое мы сможем рассмотреть и дать ответ.
				li
					| В случае отсутствия определенного Лота на Сайте, Исполнитель имеет право по запросу Пользователя, разместить его на Сайте, после подтверждения Пользователем подлинности лота и данных, подтверждающих его покупку,
					| предоставленных на адрес
					a(href='info@autoastat.ru.com') info@autoastat.ru.com
				li
					| Пользователь обязуется не воспроизводить, не повторять, не копировать, не продавать, а также не использовать в каких бы то ни было целях, информацию и материалы, которые стали ему доступны в связи с предоставлением
					| Услуг, за исключением их личного использования.
				li
					| Пользователь обязуется не размещать и не загружать содержимое или элементы в несоответствующие категории и сервисы на Сайте.
				li
					| Пользователю запрещается распространять или публиковать спам, нежелательные или массовые электронные сообщения, распространять вирусы, или совершать любые другие действия, которые могут нанести вред Сайту.
				li
					| Пользователь обязуется и подтверждает, что пользуясь Услугами, он в любом случае, не способствует мошенничеству, обману или злоупотреблению доверием; не осуществляет сделки с крадеными или поддельными предметами и/или
					| предметами, свободный оборот которых ограничен и/или запрещен в соответствии с действующим законодательством; не затрагивает право собственности Исполнителя или третьих лиц, включая интеллектуальное; не публикует
					| сведения, оскорбляющие чью-честь, достоинство или деловую репутацию; не осуществляет клевету, не угрожает; не призывает к совершению преступлений, а также не разжигает национальную и межнациональную вражду; не
					| способствует террористической и экстремистской деятельности.
		li
			| БЕСПЛАТНЫЙ КОНТЕНТ
			ol
				li
					| Пользователь без осуществления платежей по выбранным параметрам получает ограниченный доступ к полной информации, размещенной на веб-сайте: фотоснимкам транспортного средства, ограниченной информации относительно
					| транспортного средства, транспортных происшествиях, информации о последнем проведенном аукционе.
		li
			| ПЛАТНЫЙ КОНТЕНТ
			ol
				li
					| Некоторый контент платный (например, доступ к полному объему информации, Отчеты по лотам). Вы обязаны своевременно оплачивать указанные суммы и применимые налоги, используя один из поддерживаемых способов оплаты.
				li
					| Кроме того, Администрация имеет право в одностороннем порядке изменить стоимость предоставления доступа к платному контенту, до момента оплаты путем публикации новой цены на Сайте.
		li
			| ДОСТУП В ЛИЧНЫЙ КАБИНЕТ
			ol
				li
					| Для эффективного и полноценного использования Сайта, Пользователю необходимо осуществить регистрацию, корректно и в полном объеме заполнив все необходимые поля регистрационной формы, введя следующие данные: имя, фамилия,
					| электронная почта и номер телефона Пользователя.
				li
					| Вы соглашаетесь создать и использовать только один Личный кабинет и не передавать третьим лицам доступ или учетные данные для доступа к нему.
				li
					| При регистрации Пользователь обязан предоставить достоверную и актуальную информацию, включая уникальные для каждого Пользователя логин, адрес электронной почты, пароль доступа к Сайту. Исполнитель оставляет за собой
					| право изменять поля регистрационной формы и требовать от Пользователя ввода дополнительной информации.
				li
					| Осуществив регистрацию на Сайте, Пользователь имеет доступ в Личный кабинет, с помощью введенного логина и пароля, который позволяет ему упорядочить результаты поиска (закладки, история поиска, приобретенные Отчеты).
				li
					| После регистрации, выбранные Пользователем логин и пароль являются достаточной информацией для доступа Пользователя к Сервису. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную
					| ответственность за их сохранность, самостоятельно выбирая способ их хранения. Любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем.
				li
					| Доступ к Сайту не предоставляет Вам прав материальной или интеллектуальной собственности на контент, размещенный на Сайте.
				li
					| Мы можем отменить или приостановить Ваш доступ к Сайту, Личному кабинету, если Вы поделитесь своими учетными данными для входа в кабинет.
				li
					| Вы несете ответственность за сохранение конфиденциальности учетных данных, которые Вы не будете передавать третьим лицам. Вы не можете:
					ul
						li
							| выбрать или использовать учетные данные другого человека, с целью выдать себя за этого человека,
						li использовать данные учетной записи без разрешения правообладателя,
						li
							| использовать учетные данные по своему усмотрению, если они являются или считаются оскорбительными.
					p
						| Несоблюдение вышеуказанных положений считается нарушением Условий, которое может привести к немедленному прекращению существования Вашего кабинета и ограничения доступа к Сайту.
				li
					| Любое неправильное использование Сайта запрещено законом и может привести к гражданской и уголовной ответственности.
		li
			| БЕЗОПАСНОСТЬ ВАШЕГО ЛИЧНОГО КАБИНЕТА
			ol
				li
					| Вы обязаны сообщить нам по адресу info@autoastat.ru.com о любых известных или предполагаемых случаях несанкционированного использования Вашего Личного кабинета, или о любом известном или предполагаемом нарушении
					| безопасности, в том числе о потере, краже или о несанкционированном раскрытии Ваших учетных данных для доступа к Личному кабинету.
		li
			| ОТЗЫВЫ
			ol
				li
					| Мы приветствуем Ваши предложения, идеи, комментарии и другие отзывы (далее - «Отзыв»). Отправляя отзыв, Вы предоставляете нам право использовать его без каких-либо ограничений или компенсации для Вас.
				li
					| Вы несете полную ответственность за содержание созданных Вами Отзывов. Администрация не может контролировать каждый материал и не несет ответственность за содержание этих сообщений, мы оставляем за собой право удалять,
					| перемещать или редактировать материалы, которые по нашему усмотрению являются оскорбительными, неприличными, неприемлемыми или содержащими клевету.
		li
			| ОНЛАЙН-ОПРОС
			ol
				li
					| Администрация сайта может связаться с Вами по электронной почте касательно Вашего участия в опросе Пользователей, и задавать вопросы с целью улучшения работы Сайта и для лучшего понимания наших Пользователей. Эта
					| информация будет использована с соблюдением требований законодательства Украины о защите персональных данных. Любая информация, которую мы получаем в таких опросах, не будет передана третьим лицам, за исключением
					| обобщенных обезличенных данных.
		li
			| ОТКАЗ ОТ ГАРАНТИЙ
			ol
				li
					| Пользователь принимает на себя весь риск использования Сайта. Владелец сайта или Администрация не гарантируют отсутствие ошибок или беспрерывного функционирования Сайта.
				li
					| Материалы Сайта предоставляются по принципу «как есть», без предоставления каких-либо гарантий, прямых или косвенных, включая гарантию пригодности для каких-либо конкретных целей. При этом не исключаются гарантии,
					| вытекающие из закона или не могут быть исключены, ограничены или изменены в силу законодательства, применяемого к данным Условиям.
		li
			| ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
			ol
				li
					| Пользователь признает, что положения этого раздела применяются ко всему содержанию Сайта, а также что использования Сайта или материалами, которые доступны на Сайте, осуществляется на Ваш риск.
				li
					| Владелец сайта и Администрация не несут ответственности за любые убытки, включая прямые и косвенные убытки или ущерб, вызванные последствиями использования Сайта, а также убытки от выплаты штрафов, возникшие в связи с
					| использованием или невозможностью использования Сайта.
				li
					| Исполнитель не несет ответственности за несоответствие Лота ожиданиям Пользователя и/или его субъективную оценку. Такое несоответствие ожиданиям и/или отрицательная субъективная оценка не является основанием считать
					| Услуги предоставленными некачественно, или не в согласованном объеме.
				li
					| Исполнитель не несет ответственности за содержание информации третьих лиц, размещенной на autoastat.ru.com и веб-сайтах третьих сторон, на которые мы ссылаемся. Исполнитель не несет ответственности за собранные данные
					| третьим лицам, а именно: информацию, касающуюся состояния, безопасности, товарности, истории аварийных ситуаций, истории продаж и регистрационных данных транспортных средств.
				li
					| Кроме вышеуказанных условий, Владелец сайта и Администрация не несут ответственность, независимо от причин или продолжительности, за любые ошибки, неточности и другие недостатки информации, опубликованной на Сайте, за
					| несвоевременную и прерванную передачу такой информации Пользователю или любые возникшие в связи с этим претензии, иски или убытки, за исключением случаев, прямо установленных законом. Владелец сайта и Администрация не
					| несут ответственность по предъявленным третьими лицами претензиях, исках, а также за любые убытки причинённых третьим лицам, включая, но не ограничиваясь, упущенную выгоду, штрафные санкции или ущерб, вызванные
					| последствиями использования Сайта. Владелец сайта не гарантирует своевременности, последовательности, точности и полноты предоставляемой информации, кроме случаев, прямо установленных законом. При этом Владелец сайта и
					| Администрация не предоставляют никаких гарантий относительно возможных результатов использования такой информации. Владелец сайта и Администрация не несут никакой ответственности за точность, достоверность суждений,
					| рекомендаций или утверждений третьих лиц, размещенных на Сайте. Владелец сайта и Администрация ни при каких обстоятельствах не несут ответственности за убытки и потери, вызванные тем, что Пользователь воспользовался
					| информацией третьих лиц, полученной на Сайте.
		li
			| ПРЕКРАЩЕНИЕ ПОЛЬЗОВАНИЯ САЙТОМ
			ol
				li
					| Вы соглашаетесь, что Администрация может прекратить Ваш доступ к Сайту в любое время и по любой причине, включая, но не ограничиваясь, если Администрация считает, что Вы нарушили или действовали вопреки положениям
					| настоящих Условий. После такого прекращения Вы будете лишены права использовать Сайт. Вы соглашаетесь, что любое такое прекращение Вашего доступа к Сайту может быть осуществлено без предварительного уведомления,
					| Администрация может немедленно отключить или удалить Ваш аккаунт и пароль для входа в Личный кабинет, а также всю связанную информацию и файлы.
				li Пользователь имеет право в любой момент прекратить использовать Сайт.
