extends _layouts/base

block head_end
  title Что такое VIN номер (VIN код) автомобиля?
  meta(name="description", content="VIN номер – это уникальный код транспортного средства 17 символов, комбинация цифр и латинских букв. Каждый символ несет в себе смысловую нагрузку: идентифицирует определенные данные о транспортном средстве с помощью строго ограниченного набора шифров.")
  meta(name="keywords", content="Что такое VIN код, что такое VIN номер, что такое Вин код, что такое Вин номер, VIN номер, VIN код")
  link(rel='canonical', href='https://autoastat.ru.com/vin-kod')

block content
  h1 Что такое VIN номер (VIN код)?
  p
    | VIN Код - это 17 символов, комбинация цифр и латинских букв. Каждый символ несет в себе смысловую нагрузку: идентифицирует определенные данные о транспортном средстве с помощью строго ограниченного набора шифров. Все американские компании-производители и экспортеры при составлении автомобильного номера соблюдают правила вычисления контрольного числа. Стандарт ISO 3779 выполняют и европейские предприятия, даже если их автомобили не ввозятся в США. Важно: базы CARFAX и AutoCheck содержат данные только об автомобилях, бывших в эксплуатации на американской и канадской территории.
  p
    | Понятие VIN номер появилось в семидесятых годах прошлого столетия. Дословно аббревиатура расшифровывается как Vehicle Identification Number - идентификационный номер автомобиля. Формат VIN номеров был описан в стандарте ISO 3779, принятом в США и Канаде в 1977 году. Главной целью этого кода было создание надежного и простого способа классификации автомобилей. С его помощью транспортные средства должны были быть не просто пронумерованы, но также надежно защищены от угонщиков.
  h2 Особенности структуры VIN-кода: что значат цифры и буквы
  p
    | VIN-номер формируется соответственно с ISO 3779 (международный стандарт, принятый в феврале 1977 года) и имеет такой вид:
    span ХХХ
    span ХХХХХХ
    span ХХХ
    span ХХХХХ
  ol
    li В первых трех знаках отображен код производителя, а именно: 1 цифра - код континента, 2-я - завод-производитель, 3-я - тип транспортного средства (легковой, грузовой и т. д.).
    li 4-9 знаки - это непосредственное описание автомобиля: какая модель, тип кузова, объем и тип мотора, вид
      span КПП
      |  и др.
    li  В 10-12 знаках отображается дата выпуска (но не всегда). В большинстве марок (Mitsubishi, Audi, Rover, Volvo, VW, Hyundai, Porsche, Chrysler, Renault, Saab, Opel)год выпуска размещается на 10-м месте в VIN-коде. Ford ставит этот параметр на 11-ю позицию.Важно, что модельный год, соответственно со стандартом ISO 3779, начинается 1 июля и заканчивается 30 июня следующего года, то есть, не совпадает с календарным годом. Например, если дата выпуска автомобиля - 1 июля 1994 года, то в VIN-номере будет обозначена буква R, обозначающая 1995 год. Такой нюанс стоит учитывать при расчете возможности ввоза автомобиля на территорию нашей страны (согласно закону, транспортному средству должно быть меньше 8-ми лет).
    li 12-17 знаки - номер шасси (кузова).
  h2 Проверка VIN номера автомобиля: что это?
  p
    | Наша компания предлагает быструю и качественную VIN проверку. Это значит предоставление клиенту полной истории понравившегося авто по базам Autocheck и Carfax. В этих двух ресурсах имеется подробная, максимально детальная, информация о транспортных средствах, которые были в эксплуатации на территории Канады и США. В ответ на запрос клиент получает две копии документов - оригинальный отчет от Autocheck или Carfax, составленный на английском языке, и качественный перевод отчета на русский. Непосредственно проверка выполняется по VIN номеру автомобиля.
  h3 VIN-проверка: как проводится?
  p
    | Для получения интересующей Вас информации достаточно ввести его VIN код на сайте. Краткие отчеты CARFAX и AutoCheck будут предоставлены бесплатно. Для получения полного отчета необходимо заплатить определенную сумму. Полный отчет отправляется клиенту автоматически, сразу после оплаты счета. Он составляется в оригинале на английском и параллельно клиент получает качественный русский перевод. Перед заказом услуги на нашем сайте можно ознакомиться с примерами отчетов.
  h3 Почему стоит выбрать компанию AutoAstat?
  p Сотрудничество с нашей компанией гарантирует целый ряд преимуществ:
  ul
    li мгновенное составление отчета (непосредственно после оплаты);
    li сервис надежный и автоматизированный, сведения берутся непосредственно из CARFAX и AutoCheck;
    li информация точная, полная и объективная, поскольку черпается параллельно из двух независимых баз данных;
    li качественный перевод на русский язык;
    li гарантия качества и порядочность (наша команда работает на рынке России уже более четырех лет, за это время мы успели приобрести хорошую репутацию и авторитет среди клиентов);
    li мы практикуем регулярные акции, которые дают возможность купить отчет по еще более низкой цене;
    li наша служба поддержки - самая вежливая и оперативная, быстро даст ответы на любый вопросы и поможет в любой ситуации.
