.container-fluid
  .row
    .d-flex.justify-content-center.full-size
      .col-md-6.col-sm-12
        .card
          .card-inner
            .card-title VIN или № лота
            form(name='search_lot_by_identifier_form', method='post', action='')
              .input-group
                input.form-control(type='text', name='', placeholder='VIN или № лота')
                .input-group-append
                  button.btn.btn-primary(type='submit')
                    i.icon-search