@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

a {
  color: $link;
  transition: color 200ms;
  text-decoration: none;
  &:hover {
    color: darken($link, 20);
  }
}

a, button, input {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

@each $name, $value in $colorList {
  .has-background-#{$name} {
    background-color: $value;
  }
}

@each $name, $value in $fontColors {
  .has-text-#{$name} {
    color: $value;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #1e1f24;
  text-align: left;
  background-color: #fafafa;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-weight: 500;
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 5px;
}

.main {
  flex: 1;
}

html, body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1326px;
}
