@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?r2we3h');
  src:  url('../../fonts/icomoon.eot?r2we3h#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon.ttf?r2we3h') format('truetype'),
  url('../../fonts/icomoon.woff?r2we3h') format('woff'),
  url('../../fonts/icomoon.svg?r2we3h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
