@media (max-width: 991px) {
  .content {
    min-height: 320px;
  }
  .table-history {
    tbody,
    td,
    th,
    thead,
    tr {
      display: block;
    }
    thead {
      display: none;
    }
    tbody {
      height: 100%;
      overflow: hidden;
      tr {
        padding: 20px;
      }
      td {
        padding: 5px 0 5px 50%;
        position: relative;
        float: none;
        width: 100%;
        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          width: 45%;
          padding-right: 10px;
          margin: -10px 0 0;
          white-space: nowrap;
          color: #8a8b8d;
        }
        &:first-of-type:before {
          content: "Auction:";
        }
        &:nth-of-type(2):before {
          content: "Date:";
        }
        &:nth-of-type(3):before {
          content: "Lot#:";
        }
        &:nth-of-type(4):before {
          content: "Final Bid:";
        }
        &:nth-of-type(5):before {
          content: "Status:";
        }
        &:nth-of-type(6):before {
          content: "Seller:";
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .content {
    min-height: 600px;
  }
  .table-history {
    td {
      padding: 8px 20px;
    }
  }
  .card-inner {
    padding: 3.4rem 8rem 4rem;
  }
  .card-header {
    padding: 10px 10px 10px 30px;
  }
  .card-body {
    padding: 30px;
  }
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
      }
    }
  }
}
